@charset "UTF-8";

#main_menu{
	list-style: none;
}

/*자식요소 selector : >*/
#main_menu>li{
	display: inline-block;
	margin-top: 10px;
	margin-left: 90px;
}

#main_menu>li>a{
	
	display: block;
	width:120px; 
	border: 1px solid orange;
	text-align: center;
	text-decoration: none;
	
	font-family: 굴림체;
	font-size: 18pt;
	font-weight: bold;
	color: #0080c0;
	
}


